extends index.pug

block content
    div(style={"height": '100%', "text-align": 'center', "background-color": 'orange', "font-family":'papyrus', 'border-radius': '5px'})
        br

        h1(style={'font-size': '3rem'}) vManage 
        h2 A tool to manage your high school volleyball tournaments.
        h6(style={"color": '#936314'}) By weebs, for veebs.

        br
        br
        br
        br
        br

        img(src="./tab_icon.png" style={"width": '250px', "height": '250px'})

        br
        br
        br
        br
        br
        br

        h2 Click on the top left menu button to begin :)

        br