extends index.pug

block content
    h2 Teams
    div(class='btn dim' onclick="getMostActiveTeam()" style={'border': '1px solid black', 'margin-right': '5px', 'position': 'absolute', 'right': 0, 'top': 0}) Show Team That Participated In The Most Tournaments
    div(style={width: '100%', height: '90%', "background-color": 'orange', 'border-radius': '10px'})
        div(class='display-grid')
            div(class='display-row' style={"margin-bottom": "20px"})
                div(class='display-cell' style={width: '30%'}) 
                    h4 Name
                div(class='display-cell' style={width: '30%'}) 
                    h4 Phone Number
                div(class='display-cell' style={width: '30%'}) 
                    h4 Email Address
                div(class='display-cell' style={width: '10%'})

            each team in teams
                div(class='display-row' id='team_'+team.teamid) 
                    div(class='display-cell' style={width: '30%'}) #{team.name}
                    div(class='display-cell' style={width: '30%'}) #{team.phonenumber}
                    div(class='display-cell' style={width: '30%'}) #{team.emailaddress}
                    div(class='display-cell' style={width: '10%'}) 
                        a(href='/teams/' + team.teamid class='view-team-btn' class='btn grow' style={'border': '1px solid black'}) View Players

